[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hashids = "*"
pycryptodome = "*"
requests = "*"
PGPy = "*"
soteria = {editable = true, path = "."}
azure-identity = "*"
azure-keyvault-secrets = "*"
tenacity = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
ptpython = "*"

[requires]
python_version = "3.7"
